.triviaContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.questionTitle{
    display: flex;
    justify-content: center;
}

.questionContainer{
    width: 55%;
    height: 55%;
    margin: 0 auto;
}

.answersContainer{
    display: flex;
    justify-content: space-around;
    margin: 0 0 1rem 0 ;
    flex-wrap: wrap;
    border: solid 1px  #e0e0e0;
    border-radius: 0.2rem;
    box-shadow: 0px 2px 10px -10px black;
    background-color: white;
}

.questionCounter{
    text-align: center;
}

.answerButtons{
    flex-basis: 48%;
    margin:1em 0 1em 0 !important;
}

.answerMessage{
    margin: 0 0 1rem 0 ;
}